$errorDiv = $('#quiz_error_messages');
$errorDiv.empty();

var $form = $('#quiz_form'),			
	$errorList = $('<ul>');
					
<% quiz.errors.full_messages.each do |msg| %>
	$errorList.append('<li><%= escape_javascript msg %></li>');
<% end %>
	
$errorList.append('</ul>');
$errorDiv.append($errorList);
