<h1>Game#result</h1>
<p>Find me in app/views/game/result.html.erb</p>
<script>
  var quizzes = [];

  document.addEventListener("DOMContentLoaded", function()
  {
    var openrequest = indexedDB.open("game");
    console.log("db aperto");

    openrequest.onsuccess = function(event) 
    {
      console.log("entrato onupgradeneeded");
      var db = event.target.result;
      var objectStore = db.transaction("quizzes").objectStore("quizzes");

      quizzes = [];

      var cursorRequest = objectStore.openCursor()
      cursorRequest.onsuccess = function(event) {
        var cursor = event.target.result;
        if (cursor) {
          console.log("DEBUG: popolazione quizzes");
          quizzes.push(cursor.value);
          cursor.continue();
        }
        else {
          console.log("scaricati tutti i quiz");
          insertQuizzesToHTML();
        }
      }
    }
  }
	, false);

  function quizResult_create(animal1, animal2, score) 
  {
    var quizContainer = document.getElementById('result_summary');
    //eventualmente aggiungere altri attributi tipo class
    quizContainer.appendChild(img_create(animal1));
    quizContainer.appendChild(img_create(animal2));
    quizContainer.appendChild(p_create(score));
  }

  function p_create(text) 
  {
    var p = document.createElement('p');
    p.innerHTML = text;
    return p;
  }

	function img_create(src) 
  {
		  var img = document.createElement('img');
		  img.src = src;
		  img.alt = getAnimalName(src);
		  img.title = getAnimalName(src);
		  return img;
	}

  function getAnimalName (fullPath) 
  {
    filename = fullPath.replace(/^.*[\\\/]/, '');
    name = filename.split(".")[0];
    return name;
  }

  function insertQuizzesToHTML() {
    document.createElement("div"); //External container
    for (i=0; i<quizzes.length; i++) {
      quizResult_create(quizzes[i].animal1, quizzes[i].animal2, quizzes[i].score);
    }
    totalScore();
  }

  function totalScore(){
		var res = 0;
    for (i=0; i<quizzes.length; i++) {
      res += quizzes[i].score;
    }
    return document.getElementById("change_total_score").innerHTML = res;
  }

</script>
<div id="result_summary">
</div>
<div id="total_score">
Punteggio Totale:
  <div id="change_total_score">
  </div>
</div>
