<h1>Top 5</h1>
	<table>
		<thead>
			<tr><th>Posizione</th><th>Nickname</th><th>Punteggio</th></tr>	
		</thead>
		<tbody>
			<% @ranks.each_with_index do |rank, position| %>
				<tr>
					<td><%= position+1 %></td><td><%= rank.nickname%></td><td><%= rank.score%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
