<h1>Gestione animali</h1>

<div id="animal_error_messages">
	<strong><%= Animal.error_message %></strong>
</div>

<%= render 'new_animal_ajax_links' if admin_user_signed_in? %>

<table id="animals_table">
	<thead>
		<tr>
		  <th>Nome</th>
		  <th>Immagine</th>
		  <th>Verso</th>		  
		</tr>
	</thead>	
	<tbody>
	    <%= render @animals %>
	</tbody>
</table>

<br />

<%= link_to "Torna alla Home", root_path %>
