<h1>Gestione animali</h1>

<div id="no_animal_found">
		<strong><%= Animal.get_index_page_errors %></strong>
</div>

<br />

	<table id="animals">
		<tr>
			<th>Name</th>
			<th>Image</th>
			<th>Cry</th>
		</tr>
	
		<%= render @animals %>	
	</table>
	
<br />

<%= render 'new_animal_ajax_links' %>

<%= link_to 'Torna a Home', root_path %>
