<h1>Gestione animali</h1>

<% if Animal.any? %>
	<table id="animals">
		<tr>
			<th>Name</th>
			<th>Image</th>
			<th>Cry</th>
		</tr>
	
		<%= render @animals %>	
	</table>
<% else %>
	<div id="no_animal_found">
		<strong>Nessun animale trovato.</strong>
	</div>
<% end %>

<br />

<%= render 'new_animal_ajax_links' %>

<%= link_to 'Torna a Home', root_path %>
