<h1>Gestione animali</h1>

<div id="animal_error_messages">
	<strong><%= Animal.error_message %></strong>
</div>

<table id="animals_table">
	<thead>
		<tr>
		  <th>Name</th>
		  <th>Image</th>
		  <th>Cry</th>		  
		</tr>
	</thead>	
	<tbody>
	    <%= render @animals %>
	</tbody>
</table>

<br />
<%= render 'new_animal_ajax_links' %>
<%= link_to "Torna a Home", root_path %>
