<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Pagina degli amministratori</h1>
	
	<fieldset>
		<legend>Scegli una delle opzioni:</legend>
		<%= link_to "Gestione animali", new_animal_path %>		
	</fieldset>
</body>
</html>
